body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #0055a4 0%,
    #0055a4 33.33%,
    #ffffff 33.33%,
    #ffffff 66.66%,
    #ef4135 66.66%,
    #ef4135 100%
  );
}
